/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face {
    font-family: muggleNews;
    src: url(../fonts/mugglenews_by_nathanthenerd_d41qn8p.ttf);
}

/* LAY-OUT */
body {
    cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
    background: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 10px;
    overflow: hidden;
}

.ending img {
    z-index: 10;
    text-align: center;
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 3;
    display: block;
    position: relative;
}

.ending h1 {
    font-family: mugglenews, Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 3;
    display: block;
    position: relative;
}

.ending .done {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 3;
    display: block;
    position: relative;
}

/* BACKGROUND */
@keyframes shiny-stars {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

.stars {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0) url(../images/stars.png) repeat top center;
    z-index: 0;
}

.shine {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../images/shine.png) repeat top center;
    z-index: 1;
    animation: shiny-stars 200s linear infinite;
} 

/* BUTTONS */
.buttons {
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 3;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}

.buttons a {
    z-index: 3;
    position: relative;
    width: 160px;
    height: 60px;
    display: inline-block;
    background: white;
    margin: 20px;
    }

.buttons a:before, .buttons a:after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(65deg, #AE0001, #FFDB00, #41A6D9, #49a768);
    transition: 0.1s;
}

.buttons a:hover:before {
    inset: -3px;
}

.buttons a:hover:after {
    inset: -3px;
    filter: blur(10px);
}

.buttons a span {
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgb(0, 0, 0);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    border: 0.5px solid rgb(255, 255, 255);
    overflow: hidden;
}